* {
    margin: 0;
    padding: 0;
}
body {
    background-color:lightblue;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    grid-gap: 0.5em;
    height: 100vh;
    scroll-behavior: smooth;

}
.content{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
}

/* backup

import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: #3B3B3B;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"banner conteudo"
                        "banner conteudo";
    height: 100vh;
    grid-gap: 0.5em;
    text-align: center;
    font-family: sans-serif;
    overflow-x: hidden;

}
.main {
    grid-area: banner;
    background-color: #3B3B3B;
    padding: 10px;
}
.profile{
    grid-area: conteudo;
    padding: 10px;
    background-image: linear-gradient(124deg, #7B68EE, #9370DB, #8A2BE2, #4B0082, #A020F0, #9932CC, #9400D3, #DA70D6, #EE82EE);
    clip-path: polygon(0% 0%, 50% 0%, 30% 10%, 0% 300%);
}

.pic {
    width: 100%;
    height: 100%;
    background-color: #3B3B3B;
    border-radius: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    font-size: 1em;
    position: relative;
    top: 30%;
}
.console-container {

    font-family:'Fira Code';
    font-weight: bold;
    font-size:2em;
    height:100px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    bottom:45%;
    left:2%;
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:0em;
    left:-10px;
  }
p {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgrey;
    position: relative;
    top: 60%;
}
#checkbox {
    display: none;
}
.toggle {
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid #7B68EE;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.ball,
.sun,
.moon{
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
}
.ball{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #7B68EE;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}
.sun {
    left: 5px;
}
.moon {
    right: 5px;
}
#checkbox:checked + .ball {
    transform: translate(29px, -50%);
    transition: transform .5s ease-in;
}
.iconify {
    position: relative;
    margin-top: 4px;
}
.pic img {
    position: relative;
    display: flex;
    left: -7%;
}*/
